.banner {
  color: white;
  padding: 1em 0;
  background-image: url(../images/backgrounds/bg-carts_blue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
}
.banner:after {
  content: url(../images/icons/icon-mouse.png);
  position: absolute;
  height: 1.9em;
  width: 1.125em;
  bottom: 0;
  left: calc(50% - 1.1em/2);
  animation: icon-scroll 1s infinite ease-out alternate both;
}


.carousel {
  padding: 25vh 5vw;
  & h1 {
    font-size: 2.7em;
    font-weight: bold;
    & strong {
      color: $yellow-darkest;
    }
  }
  & p {
    font-family: $asap-font;
    font-size: 1.325em;
    font-weight: 400;
  }
  & .btn-info {
    background: $yellow-darkest;
    margin-top: 1em;
    @extend .btn-fill;
    &:hover {
      background: $orange-lightest;
    }
  }
}

.social-link {
  margin: 0 .525em;
}