.banner {
  color: white;
  padding: 1.5em 0;
  background-image: url(../images/backgrounds/bg-carts_blue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  @include media-breakpoint-up(md) {
    padding: 2.5em 0;
  }
  & .brand img{
    max-width: 290px;
    width: 80%;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}
.banner:after {
  display: none;
  content: url(../images/icons/icon-mouse.png);
  position: absolute;
  height: 1.9em;
  width: 1.125em;
  bottom: 0;
  left: calc(50% - 1.1em/2);
  animation: icon-scroll 1s infinite ease-out alternate both;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.carousel {
  margin: 0 auto;
  padding: 10vh 5vh;
  @include media-breakpoint-up(md) {
    padding: 25vh 5vw;
  }
  & h1 {
    font-size: 2em;
    font-weight: bold;
    @include media-breakpoint-up(md) {
      font-size: 2.625em;
    }
    & strong {
      color: $yellow-darkest;
    }
  }
  & p {
    font-family: $asap-font;
    font-size: 1.325em;
    font-weight: 400;
  }
  & .btn-info {
    background: $yellow-darkest;
    display: block;
    margin: 2em auto 1em;
    @extend .btn-fill;
    @include media-breakpoint-up(md) {
      margin: 1em 0;
    }
    &:hover {
      background: $orange-lightest;
    }
  }
}